[submodule "LIFE-Platform"]
	path = LIFE-Platform
	url = https://github.com/VacuouS21/LIFE-Platfrom
[submodule "LIFE-Tasks"]
	path = LIFE-Tasks
	url = https://github.com/VacuouS21/LIFE-Tasks
[submodule "LIFE-Travel"]
	path = LIFE-Travel
	url = https://github.com/VacuouS21/LIFE-Travel
[submodule "UI-Testing"]
	path = UI-Testing
	url = https://github.com/VacuouS21/UI-Testing